/*
declaration block: 

selector{ 
    property: value;
    property2: value;
}
*/

body{
        background-color: rgb(235, 187, 98);
        color: black;
        font-size: large;
        font-weight: 100; 
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

button{
    background-color: rgb(75, 105, 237);
    color:rgb(249, 250, 251);
    font-size: large;
    font-family: 'Lucida Sans Regular';
    border-color: rgb(1, 1, 8);
    border-radius: 10px;
}

footer{
    text-align: center;
    margin-right: 200px;
}

#memeImage{
    margin-right: 200px;
    height: 200px;
    width: 250px;
    align-self: center;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium';
    font-style: inherit;
    color: rgb(20, 114, 58);
    border-radius: 10%;
    border-color: black;
}